---

export const prerender = true;
import RootLayout from '../../layouts/RootLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import Filters from '../../components/Filters.tsx';
import ArticlesFilteredList from '../../components/ArticlesFilteredList.tsx';
import FiltersSkeleton from '../../components/skeletons/FiltersSkeleton.astro';
import ArticlesFilteredListSkeleton from '../../components/skeletons/ArticlesFilteredListSkeleton.astro';
import NoArticlesFound from '../../components/NoArticlesFound';
import FilterSearch from 'src/components/FilterSearch';
import PageHeader from 'src/components/PageHeader.astro';
import Divider from 'src/components/ui/Divider.astro';
import SearchFilterSkeleton from 'src/components/skeletons/SearchFilterSkeleton.astro';

const allBlogArticles: CollectionEntry<'blog'>[] = (await getCollection('blog'))
  .filter(entry => !entry.data.isDraft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const uniqueTags = [
  ...new Set<string>(allBlogArticles.flatMap(article => article.data.tags)),
];

const uniqueAuthors = [
  ...new Set<string>(allBlogArticles.map(article => article.data.author)),
];
---

<RootLayout pageTitle="Articles">
  <h1 class="sr-only">Articles</h1>

  <PageHeader
    words={['AndrejGround', 'Blog']}
    desc="Thoughts and tutorials on frontend development"
  />

  <div class="container p-4 mx-auto">
    <FilterSearch client:only="react" allBlogArticles={allBlogArticles}>
      <SearchFilterSkeleton slot='fallback'  />
    </FilterSearch>
  </div>

  <Divider />

  <div
    class="container mx-auto flex max-md:flex-col gap-8 md:gap-20 p-4 grow min-h-screen"
  >
    <!-- Sticky desktop filters -->
    <div>
      <div class="sticky top-[180px] md:w-[320px] max-w-full z-20 ">
        <Filters
          client:only="react"
          tags={uniqueTags}
          authors={uniqueAuthors}
          allBlogArticles={allBlogArticles}
        >
          <FiltersSkeleton slot="fallback" />
        </Filters>
      </div>
      <div></div>
    </div>

    <ArticlesFilteredList client:only="react">
      <ArticlesFilteredListSkeleton slot="fallback" />
    </ArticlesFilteredList>

    <NoArticlesFound client:only="react" />
  </div>
</RootLayout>
