---
import RootLayout from '../layouts/RootLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import ArticleCard from '../components/ArticleCard.astro';

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');
---

<RootLayout pageTitle="Blog">
  <div class="flex gap-8 items-center justify-center pt-20">
    <ul class="flex gap-8 items-center justify-center flex-wrap">
      {allBlogArticles.map(article => <ArticleCard article={article} />)}
    </ul>
  </div>
</RootLayout>
