@import url('./browser-override.css');
@import url('./animations.css');
@import url('./helpers.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 13 15 20;
    --foreground: 255 255 255;
    --card: 4 7 38;
    --card-foreground: var(--foreground);
    --accent: 0 229 255;
    --accent: 161 169 255;
    --primary: 19 33 172;
    --primary-foreground: var(--card);
    --accent-foreground: var(--foreground);
    --secondary: 86 2 189;
    --secondary-foreground: var(--foreground);
    --muted: var(--cyan-dark-accent);
    --muted-foreground: var(--foreground);
    --success: 0 200 81;
    --info: 51 181 229;
    --warn: 255 187 51;
    --error: 254 78 78;
    --destructive: var(--error);
    --destructive-foreground: var(--foreground);
    --border: var(--cyan-dark-accent);
    --input: var(--cyan-dark-accent);
    --ring: var(--foreground);
  }

  body,
  html {
    position: relative;
  }

  h1 {
    font-size: clamp(2.25rem, 5vw, 3.75rem);
  }
  h2 {
    font-size: clamp(1.75rem, 5vw, 2.25rem);
  }
  h3 {
    font-size: clamp(1.5rem, 5vw, 1.75rem);
  }
  h4 {
    font-size: clamp(1.25rem, 5vw, 1.5rem);
  }
  h5 {
    font-size: clamp(1rem, 5vw, 1.25rem);
  }
  h6 {
    font-size: 1rem;
  }
}
@layer components {
  .bg-glass {
    @apply backdrop-blur-lg bg-background/50;
  }

  /* .gradient-wrapper {
    @apply relative w-fit rounded-2xl p-[2px] bg-gradient-to-br from-accent/20 via-transparent  to-gray-400/20 overflow-hidden;
  } */
}

@layer base {
  * {
    @apply border-border;
  }
}
