/* Chromium Scrollbar */
/* width */
::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(
    0deg,
    transparent 0%,
    rgb(var(--foreground) / 30%) 50%,
    transparent 100%
  );
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(
    0deg,
    transparent 0%,
    rgb(var(--accent) / 30%) 50%,
    transparent 100%
  );
}

/* Firefox Scrollbar */
:root {
  scrollbar-width: thin;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--foreground);
  transition: background-color 5000s ease-in-out 0s;
}

/* Text selection styles */
::-moz-selection {
  /* Code for Firefox */
  color: #333;
  background: rgb(var(--accent));
}
::selection {
  color: #333;
  background: rgb(var(--accent));
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type='number'] {
  -moz-appearance: textfield; /* Firefox */
}
