---
import { Image } from 'astro:assets';

type Props = {
  author: string;
  authorImage: string;
};

const { author, authorImage } = Astro.props;
---

<div class="flex gap-2 items-center">
  <Image
    class="rounded-full"
    src=`/images/${authorImage}`
    alt={author}
    width={32}
    height={32}
  />
  <div>{author}</div>
</div>
