---
import { Image } from 'astro:assets';
import { AUTHORS } from 'src/utils/config';

type Props = {
  author: string;
};

const { author } = Astro.props;

const authorObject = AUTHORS[author as keyof typeof AUTHORS];
const authorImage = authorObject.image;
const authorName = authorObject.name;
---

<a href=`/authors/${authorObject.slug}` class="flex gap-2 items-center hover:text-accent transition-colors">
  <Image
    class="rounded-full"
    src=`/images/${authorImage}`
    alt={authorName}
    width={32}
    height={32}
  />
  <div>{authorName}</div>
</a>
