---
import RootLayout from 'src/layouts/RootLayout.astro';
import { productionSanityClient } from 'src/utils';

const posts = await productionSanityClient.fetch(
  `*[_type == "blog" && defined(slug)] | order(publishedAt desc)`,
);
---

<RootLayout pageTitle="Sanity Blog">
  <h1>Blog</h1>
  <ul>
    {
      posts.map(post => (
        <li>
          <a href={'/sanity/' + post.slug.current} class="post-link">
            {post.title}
          </a>
        </li>
      ))
    }
  </ul>
</RootLayout>
