---
export const prerender = true;

import { Image } from 'astro:assets';
import RootLayout from '../layouts/RootLayout.astro';
import SocialLinkCard from '../components/cards/SocialLinkCard.astro';
import Divider from '../components/ui/Divider.astro';
import Timeline from 'src/components/WorkTimeline';
import { AUTHORS } from 'src/constants';
import LogoAnimated from 'src/components/LogoAnimated';
import Tilter from 'src/components/Tilter';
import PageHeader from 'src/components/PageHeader.astro';
// import Thumbnail from 'src/components/Thumbnail.astro';

const { socialLinks } = AUTHORS.andrej_forgac;
---

<RootLayout pageTitle="About">
  <h1 class="sr-only">Andrej Forgac - Frontend Developer</h1>

  <PageHeader
    words={['AndrejGround', 'About']}
    desc="Meet Andrej - a frontend developer behind AndrejGround"
  />

  <Divider />

  <div class="container mx-auto p-4 lg:p-8 z-0 relative">
    <!-- <Thumbnail /> -->
    <div
      class="flex gap-4 md:gap-16 flex-wrap items-center max-lg:justify-around justify-between pb-16"
    >
      <div class="flex gap-4 md:gap-16 items-center">
        <Image
          class="rounded-full grow-0 blur-in flex shrink max-md:w-20"
          src=`/images/andrej.webp`
          alt="Andrej Forgac"
          width={200}
          height={200}
        />

        <div class="rounded-2xl">
          <h2 class="font-thin">Andrej Forgac</h2>
          <div class="opacity-70 flex flex-col gap-2">
            <div>
              Senior software engineer @ <a
                class="text-accent"
                href="https://snyk.io"
                target="_blank">Snyk</a
              >
            </div>

            <div>UX/UI enthusiast</div>
          </div>
        </div>
      </div>

      <div class="ml-auto max-xl:mr-auto">
        <Tilter
          client:only="react"
          elevation={100}
          classNames={{ cardRoot: 'bg-card/50 rounded-2xl' }}
        >
          <LogoAnimated width={280} client:only="react" />
        </Tilter>
      </div>
    </div>

    <div class="mb-16">
      <ul class="flex flex-wrap gap-4 justify-evenly">
        {socialLinks.map(link => <SocialLinkCard {...link} />)}
      </ul>
    </div>

    <Timeline client:load />
  </div>
</RootLayout>
