---
import { Image } from 'astro:assets';
import RootLayout from '../layouts/RootLayout.astro';
import SocialLinkCard from '../components/cards/SocialLinkCard.astro';
import Divider from '../components/ui/Divider.astro';
import Timeline from 'src/components/WorkTimeline';
import { AUTHORS } from 'src/constants';

const yearsOfExperience = new Date().getFullYear() - 2020;
const { socialLinks } = AUTHORS.andrej_forgac;
---

<RootLayout pageTitle="About">
  <div class="container mx-auto p-4 pt-16">
    <div class="flex gap-16 flex-wrap items-start max-lg:justify-around">
      <Image
        class="rounded-full grow-0 blur-in"
        src=`/images/andrej.webp`
        alt="Andrej Forgac"
        width={200}
        height={200}
      />
      <div class="p-4 rounded-2xl">
        <h1 class="font-thin">Andrej Forgac</h1>
        <div class="opacity-70 flex flex-col gap-2">
          <div>
            Frontend dev @ <a
              class="text-accent"
              href="https://probely.com"
              target="_blank">Probely</a
            >
          </div>

          <div>UI/UX enthusiast</div>

          <div>{yearsOfExperience}+ years in the industry</div>
        </div>
      </div>
    </div>

    <Divider />

    <div class="mb-16">
      <ul class="flex flex-wrap gap-4 mt-4 justify-evenly">
        {socialLinks.map(link => <SocialLinkCard {...link} />)}
      </ul>
    </div>

    <Timeline client:load />
  </div>
</RootLayout>
