---
import RootLayout from '../../../layouts/RootLayout.astro';
import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import ArticleCard from '../../../components/cards/ArticleCard.astro';

export async function getStaticPaths() {
  const allBlogArticles: CollectionEntry<'blog'>[] =
    await getCollection('blog');
  const uniqueTags = new Set<string>(
    allBlogArticles.flatMap(article => article.data.tags),
  );
  console.log({ uniqueTags: [...uniqueTags] });

  return [...uniqueTags].map(tag => ({
    params: { tag },
    props: { tag },
  }));
}

const { tag } = Astro.props;
console.log({ tag });

if (!tag) {
  throw new Error('Missing tag');
}

const allBlogArticles: CollectionEntry<'blog'>[] = await getCollection('blog');

const tagArticles = allBlogArticles.filter(article =>
  article.data.tags.includes(tag),
);
---

<RootLayout pageTitle="Blog">
  <h2>{tag}</h2>
  <div class="flex gap-8 items-center justify-center pt-20">
    <ul class="flex gap-8 items-center justify-center flex-wrap">
      {tagArticles.map(article => <ArticleCard article={article} />)}
    </ul>
  </div>
</RootLayout>
