---
import LogoStatic from "./LogoStatic.astro";
---

<header class="flex gap-4 justify-between p-4 sticky top-0">
  <div class="container flex justify-between bg-glass rounded-lg">
    <a href="/" class="flex gap-4 items-center">
      <LogoStatic />
      <h1 class="font-light text-xl">
        <span class="text-primary">Andrej</span><span class="text-text"
          >Ground</span
        >
      </h1>
    </a>

    <div class="flex items-center gap-4">
      <a href="/" class="text-primary">Home</a>
      <a href="/about" class="text-primary">About</a>
      <a href="/articles" class="text-primary">Articles</a>
    </div>
  </div>
</header>
