---
import { buildNavLinks } from 'src/utils/common';
import HamburgerButton from './HamburgerButton';
import LogoAnimated from './LogoAnimated';
import MainNav from './MainNav';
import Tilter from './Tilter';

const pathname = new URL(Astro.request.url).pathname;

const links = buildNavLinks(pathname);
---

<header class="flex gap-4 justify-between p-4 fixed top-0 w-full z-20">
  <div
    class="container mx-auto flex justify-between bg-glass rounded-2xl p-4 shadow-3d"
  >
    <a href="/" class="flex gap-4 items-center">
      <Tilter
        client:load
        classNames={{
          // cardRoot: 'shadow-3d rounded-2xl',
        }}
      >
        <LogoAnimated width={90} client:load />
      </Tilter>

      <span class="font-light text-xl hidden md:inline">
        <span class="text-accent">Andrej</span><span class="text-foreground"
          >Ground</span
        >
      </span>
    </a>

    <div class="hidden sm:contents">
      <MainNav client:only="react" links={links} transition:persist />
    </div>

    <div class="grid place-items-center sm:hidden">
      <HamburgerButton client:only="react" />
    </div>
  </div>
</header>
