---
import { Icon } from 'astro-icon/components';
import PopularTags from './PopularTags.astro';
---

<style>
  .hero-title {
    display: block;
    width: fit-content;
    position: relative;
    font-size: clamp(2.25rem, 5vw, 6.75rem);
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
    cursor: none;
    color: rgb(var(--accent));

    @media (min-width: 1024px) {
      background: radial-gradient(
          circle 240px at var(--x, -100%) var(--y, -100%),
          rgb(var(--foreground)) 30%,
          transparent 100%
        )
        fixed;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
</style>

<div
  class="p-4 lg:p-8 flex flex-col gap-8 mx-auto gradient-wrapper container items-center"
>
  <h1 class="hero-title" data-text="AndrejGround">
    Andrej<span class="max-lg:text-foreground">Ground</span>
  </h1>

  <h2
    class="flex items-center whitespace-nowrap text-[clamp(1.3rem,_4vw,_3.5rem)]"
  >
    Learn <Icon name="mdi:chevron-right" class="text-accent" /> Apply <Icon
      name="mdi:chevron-right"
      class="text-accent"
    /> Share <Icon name="mdi:chevron-right" class="text-accent" /> Repeat
  </h2>
  <h3 class="text-center opacity-60 text-[clamp(1rem,_4vw,_1.5rem)]">
    Tips, tricks and how-to's on frontend development
  </h3>
  <a href="/articles" class="bg-white py-4 px-8 bg-glass rounded-lg text-xl"
    ><span
      class="flex items-center font-bold bg-gradient-to-r from-primary to-secondary bg-clip-text text-transparent"
      >Explore articles <Icon
        name="mdi:chevron-right"
        class="text-3xl text-secondary"
      /></span
    ></a
  >

  <div class="my-16"></div>
  <PopularTags />
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    let h = document.querySelector('h1')!;

    document.body.onmousemove = function (e) {
      if (!h) return;

      h.style.setProperty('--x', e.clientX + 'px');
      h.style.setProperty('--y', e.clientY + 'px');
    };

    document.body.onresize = function () {
      h = document.querySelector('h1')!;
    };
  });
</script>
