---
import PageHeader from './PageHeader.astro';
import FeaturedLink from './FeaturedLink.astro';
---

<style>
  .hero-title {
    display: block;
    width: 100%;
    position: relative;
    font-size: clamp(2.25rem, 5vw, 6.75rem);
    text-align: center;
    margin: 0 auto;
    font-weight: 100;
    cursor: none;
    color: rgb(var(--accent));

    @media (min-width: 1024px) {
      background: radial-gradient(
          circle 240px at var(--x, -100%) var(--y, -100%),
          rgb(var(--foreground)) 30%,
          transparent 100%
        )
        fixed;
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }
</style>

<div class="px-4 lg:px-8">
  <div
    class="flex flex-wrap gap-8 mx-auto gradient-wrapper container min-h-[calc(100vh_-_8rem)] pt-4 lg:pt-8"
  >
    <div class="w-full">
      <h1 class="hero-title" data-text="AndrejGround">
        <span class="max-lg:text-foreground">Andrej</span><span
          class="max-lg:text-accent">Ground</span
        >
      </h1>

      <div class="flex flex-col gap-8">
        <div class="flex flex-col gap-8">
          <PageHeader
            words={['Learn', 'Apply', 'Share', 'Repeat']}
            desc="Tips, tricks and how-to's on frontend development"
          />
        </div>

        <div class="mx-auto flex flex-wrap gap-8 lg:gap-16">
          <FeaturedLink href="/articles" text="Explore articles" />

          <FeaturedLink
            href="/lab"
            text="Check the lab"
            gradientDirection="rtl"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    let h = document.querySelector('h1')!;

    document.body.onmousemove = function (e) {
      if (!h) return;

      h.style.setProperty('--x', e.clientX + 'px');
      h.style.setProperty('--y', e.clientY + 'px');
    };

    document.body.onresize = function () {
      h = document.querySelector('h1')!;
    };
  });
</script>
