---
import HeroCard from './cards/HeroCard.astro';
---

<section class="rounded-2xl p-4 lg:p-16 relative bg-glass shadow-3d">
  <h3 class="py-4 px-8 rounded-t-2xl w-fit">
    <span
      class="flex items-center"
      >Featured topics</span
    >
  </h3>
  <div class="mx-auto flex-wrap flex justify-center gap-8">
    <div class="flex flex-wrap justify-center gap-8">
      <HeroCard
        icon="mdi:react"
        title="React"
        tiltDirection="left"
        href="/articles?tag=react"
      />
      <HeroCard
        icon="mdi:language-typescript"
        title="TypeScript"
        tiltDirection="right"
        href="/articles?tag=typescript"
      />
    </div>

    <div class="flex flex-wrap justify-center gap-8">
      <HeroCard
        icon="mdi:language-css3"
        title="CSS"
        tiltDirection="left"
        href="/articles?tag=css"
      />
      <!-- <HeroCard
        icon="mdi:language-javascript"
        title="JavaScript"
        tiltDirection="right"
        href="/articles?tag=javascript"
      /> -->
    </div>
  </div>
</section>
