<div class="fixed top-0 left-0 right-0 h-[5px] bg-transparent z-50 w-full">
  <div
    id="progress-bar"
    class="h-full w-screen bg-accent -translate-x-full transform-gpu ease-linear flex justify-end rounded-full"
  >
    <div
      class="shadow-[0px_0px_80px_30px_rgba(0,0,0,0.1)] shadow-accent"
    >
    </div>
  </div>
</div>

<script>
  document.addEventListener('astro:page-load', () => {
    let clientHeight = document.documentElement.clientHeight;
    let scrollHeight = document.documentElement.scrollHeight - clientHeight;
    const progress = document.querySelector(
      '#progress-bar',
    ) as HTMLElement | null;
    let scheduledAnimationFrame = false;

    function updateScrollProgress() {
      if (!progress) return;

      let scrollPercentage = (scrollY / scrollHeight) * 100;
      progress.style.translate = `${Math.min(scrollPercentage, 100)}% 0`;
      scheduledAnimationFrame = false;
    }

    function onScroll() {
      if (!scheduledAnimationFrame) {
        scheduledAnimationFrame = true;
        requestAnimationFrame(updateScrollProgress);
      }
    }

    function onResize() {
      clientHeight = document.documentElement.clientHeight;
      scrollHeight = document.documentElement.scrollHeight - clientHeight;
    }

    window.addEventListener('scroll', onScroll);
    window.addEventListener('resize', onResize);
  });
</script>
