/* Floating box container */
.list {
  /* Required */
  position: relative; /* recommended - not required */
}

/* The floating box */
.list::after {
  /* Required */
  content: '';
  position: absolute;
  width: 100%;
  height: var(--height, 0);
  transform: translate(var(--x), var(--y));
  display: flex;
  flex-grow: 1;
  /* z-index: -1; */
  transition: all 250ms ease;
  inset: 0; /* or top-right-bottom-left of choice */
  border-right: 2px solid rgb(var(--accent));

  /* Optional */
  background: linear-gradient(
    270deg,
    rgb(var(--secondary)) -30%,
    transparent 80%,
    transparent 0
  );
  /* box-shadow: 0px 0px 30px 6px rgb(var(--secondary)); */
  /* border-radius: 6px; */
}
