---
// import { Icon } from 'astro-icon/components';

// const items = ['React', 'Tailwind', 'TypeScript', 'Vite'];
---

<div
  class="flex flex-col gap-2 justify-center items-center w-[1200px] h-[630px] bg-background border"
>
  <!-- React-tw-ts-vite -->
  <!-- {
    items.map((item, index) => (
      <div class="">
        <h2 class="flex gap-4 items-center bg-gradient-to-r from-foreground to-accent bg-clip-text text-transparent">
          {item} <Icon name="mdi:check-outline" class="text-accent" />
        </h2>
        {index !== items.length - 1 && <h2 class="text-center">+</h2>}
      </div>
    ))
  } -->


  <!-- Sliding-box -->
  <!-- <h1
    class="flex gap-4 bg-gradient-to-r from-foreground to-accent bg-clip-text text-transparent w-full text-center justify-center items-center"
  >
    Sliding active box <Icon
      name="mdi:credit-card-fast"
      size={130}
      class="text-accent"
    />
  </h1> -->
</div>
