---
import { ViewTransitions } from 'astro:transitions';
import { SITE_TITLE, SITE_DESCRIPTION } from '../constants';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '../styles/base.css';
import '@fontsource-variable/montserrat';
import HomeCircles from 'src/components/HomeCircles.astro';
import Loader from 'src/components/Loader';

type Props = {
  pageTitle: string;
};

const { pageTitle } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta
      name="viewport"
      content="height=device-height, 
                      width=device-width, initial-scale=1.0, 
                      minimum-scale=1.0, maximum-scale=1.0, 
                      user-scalable=no, target-densitydpi=device-dpi"
    />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={SITE_DESCRIPTION} />

    {/* Facebook */}
    <meta property="og:title" content="AndrejGround" />
    <meta property="og:description" content="All things Frontend" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://andrejground.com/" />
    <meta property="og:image" content="/meta-img.webp" />

    {/* Twitter */}
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="andrejground.com" />
    <meta property="twitter:url" content="https://andrejground.com/" />
    <meta name="twitter:title" content="AndrejGround" />
    <meta name="twitter:description" content="All things frontend" />
    <meta name="twitter:image" content="/meta-img.webp"></meta>

    <meta name="dc.coverage" content="AndrejGround" />
    <meta name="dc:description" content="All things frontend" />
    <meta name="dc.publisher" content="AndrejGround" />
    <meta name="dc.title" content="AndrejGround" />
    <meta name="dc.type" content="website" />
    
    <title>{SITE_TITLE} | {pageTitle}</title>
    <ViewTransitions />
  </head>

  <body
    class="bg-gradient-to-b from-background to-card text-foreground min-h-screen flex flex-col font-montserrat overflow-x-hidden"
  >
    <Header />
    <Loader client:only />

    <main class="h-full grow z-0">
      <HomeCircles />
      <slot />
    </main>

    <Footer />

    <div id="portal"></div>
  </body>
</html>

<script>
  import { isPageLoading } from 'src/stores/globalStore';

  document.addEventListener('astro:before-preparation', () => {
    isPageLoading.set(true);
  });

  document.addEventListener('astro:page-load', () => {
    isPageLoading.set(false);
  });
</script>
